<%= turbo_stream.replace "favorite_icon_#{@pet.id}" do %>
  <p> CREATE </p>
  <div id="favorite_icon_<%= @pet.id %>">
    <%= button_to user_pet_favorites_path(current_user, @pet, @pet.id), method: :post, data: { turbo: true }, class: "favorite-button" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  </div>
<% end %>
