<%= turbo_stream.replace "favorite_icon_#{@pet.id}" do %>
  <div id="favorite_icon_<%= @pet.id %>">
    <%= button_to user_pet_favorites_path(current_user, @pet), method: :delete, data: { turbo_stream: true } do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  </div>
<% end %>
