<%= turbo_stream.replace "favorite_icon_#{@pet.id}" do %>
<p> DESTROY </p>
    <div id="favorite_icon_<%= @pet.id %>">
      <%= button_to user_pet_favorites_path(current_user, @pet), method: :post, data: { turbo: true } do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    </div>
<% end %>
