.empty-space {
  height: 500px;
  // background-color: $beije-light;
}


.input-form {
  margin-bottom: 50px;
  padding: 0px 30px;
}

.header-top {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.thick-slider {
  height: 10px;
  // background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  // padding-left: 20px;
}

.thick-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default browser styling for the thumb */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #007bff; /* Color of the thumb */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Change the cursor to a pointer */
}

// .thick-slider::-moz-range-thumb {
//   width: 20px;
//   height: 60px;
//   background: #007bff;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .thick-slider::-ms-thumb {
//   width: 20px;
//   height: 20px;
//   background: #007bff;
//   border-radius: 50%;
//   cursor: pointer;
// }
