.empty-space {
  height: 500px;
  // background-color: $beije-light;
}

#radius-slider {
  width: 100%;
}

.input-form {
  margin-bottom: 50px;
  padding: 0px 30px;
}

.header-top {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.slider-container {
  background-color: $beije-light;
  border: 2px solid #AFAEAE;
  padding: 15px;
  border-radius: 15px;
  font-size: 1.2rem;
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Ensure proper spacing */

}
.slider {
  flex: 1; /* Allow the slider to take up the remaining space */

  // display: flex;
  // // justify-content: space-between;
  // align-items: center;
}

.thick-slider {
  // background: #007bff;
  height: 10px;
  // background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  // padding-left: 20px;
  width: 100% !important;
}


.thick-slider::-webkit-slider-runnable-track {
  background: $orange-light;
  height: 10px;
  border-radius: 5px;
}

.thick-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.radius-text {
  flex: 0 0 auto;
  padding-right: 15px;
}

// .thick-slider::-moz-range-thumb {
//   width: 20px;
//   height: 60px;
//   background: #007bff;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .thick-slider::-ms-thumb {
//   width: 20px;
//   height: 20px;
//   background: #007bff;
//   border-radius: 50%;
//   cursor: pointer;
// }

.top-three {
  margin: 0px 100px;
  padding:  30px;
  background-color: $beije-main;
  border-radius: 15px;
  // height: 500px;
}

.square-image {
  width: 100%; /* Make the image take up the full width of the parent */
  aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio (square) */
  object-fit: cover; /* Ensure the image covers the square area without distortion */
  display: block; /* Remove any inline spacing issues */
}
