<% flash.each do |type, message|  %>
  <div class="alert alert-info alert-dismissible fade show m-1" data-controller="flash" role="alert">
    <span><%= message %></span>
    <button type="button" class="btn-close"  aria-label="Close">
    </button>
  </div>
<% end %>
