<div class="footer d-flex justify-content-between align-items-center">
  <div class="footer-links">
    <a href="https://github.com/migueljpi/compawtible" class="footer-link" target="_blank"><i class=" fab fa-github"></i></a>
  </div>
  <div class="footer-text">
    <p>Created with <i class="fa-solid fa-heart"></i> by the LeWagon
      <span class="logo-container-footer">
        <span class="footer-title home-logo-title">Compawtible</span>
        <%= image_tag "logo_paw_print.png", alt: "Logo", class: "navbar-logo home-logo-img-footer" %>
      </span>
    team.</p>
  </div>
</div>
