<div data-controller="loading" id="loading_modal">
  <div data-loading-target="loadingModal" class="modal fade d-none" tabindex="-1" aria-labelledby="loadingModalLabel" inert>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content text-center p-4">
        <h3>Finding your perfect pet...</h3>
        <div class="spinner-border text-primary mt-3" role="status">
          <span>Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
