<div class="home-banner">
  <section class="home-title">
    <h1>
      Looking for a furry friend to bring love and joy into your life?
      <span class="logo-container">
        <span class="navbar-title home-logo-title">Compawtible </span>
        <%= image_tag "logo_paw_print.png", alt: "Logo", class: "navbar-logo home-logo-img" %>
      </span>
      connects you with pets in need of a forever home.
    </h1>
    <p class="home-subtitle">Your perfect pet match is waiting. Start your adoption journey today!</p>
  </section>

  <section class="home-image">
    <%= image_tag "landing_page_photo.png", alt: "Landing-page-photo", class: "home-landing-img" %>
  </section>

  <section class="home-action-btn">
    <% if current_user&.provider? %>
      <%= link_to "Go to profile", user_path(current_user), class: "btn btn-primary home-button" %>
    <% else %>
      <%= link_to "Search for a pet!", get_search_path, class: "btn btn-primary home-button" %>
    <% end %>
  </section>

</div>
