.user-buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 60px;
}

.button {
  margin-right: 15px;
}

.btn-primary {
  background-color: $blue-main;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  // cursor: pointer;

  &:hover {
    background-color: $blue-medium;
  }

  &:active {
    background-color: $dark-blue;
  }

  &:disabled {
    background-color: $blue-light;
    color: $grey;
    cursor: not-allowed;
  }
}

.btn-secondary {
  background-color: #FD8B51;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  // cursor: pointer;
  &:hover {
    background-color: $blue-main;
  }
}

.btn-danger {
  border-radius: 10px;
}

.button-add-pet {
  margin-left: 40px;
  margin-bottom: 50px;
}

#button-edit {
  margin-left: 40px;
  text-decoration: none;
}

.button-action {
  width: 10rem;
  margin: 100px 50px;
}

.btn-view {
  margin-right: 15px;
}
