#user-buttons {
  display: flex;
  margin-top: 20px;
  padding-bottom: 50px;
  margin-left: 60px;
}

#edit-button {
  font-size: 1rem;
}

.button {
  margin-right: 15px;
}

.btn-primary {
  background-color: $blue-main;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  // cursor: pointer;

  &:hover {
    background-color: $blue-medium;
  }
}

.btn-secondary {
  background-color: $orange-main;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  // cursor: pointer;
  &:hover {
    background-color: $orange-medium;
  }
}

.btn-danger {
  border-radius: 10px;
  background-color: transparent;
  color: black;
  border: 2px solid $rusty-red-main;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: $rusty-red-main;
    color: $white;
    border-color: $rusty-red-main;
  }
}

.button-add-pet {
  margin-left: 40px;
  margin-bottom: 50px;
}

#button-edit {
  margin-left: 40px;
  text-decoration: none;
  border-radius: 10px;
}

.btn-warning {
  background-color: $rusty-red-main;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  &:hover {
    background-color: $red;
    color: white;
  }
}

.button-action {
  width: 10rem;
  margin: 100px 50px;
}

.btn-view {
  margin-right: 15px;
}
