.user-buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 60px;
}

.button {
  margin-right: 15px;
}

.btn-secondary {
  background-color: #FD8B51;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 1.2rem;
  // cursor: pointer;
}

.button-add-pet {
  margin-left: 40px;
  margin-bottom: 50px;
}

#button-edit {
  margin-left: 60px;
  text-decoration: none;
}

.button-action {
  width: 10rem;
  margin: 100px 50px;
}
