.user-card {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 40px;
  background-color: $yellow;
  padding: 30px;
  border-radius: 5px;
  h3, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.user-animals {
  margin-left: 30px;
  margin-bottom: 50px;
}

.user-pets-location {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
}

.user-input {
  margin-right: 60px;
}

.animal-info {
  margin: 15px;
}

.pet-image-main {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.pet-info-button {
  margin-top: 0px;
  background-color: $yellow;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); ;
}

.favorite-button {
  color: $orange-main;
  background-color: transparent;
  border-style: none;
  font-size: 26px;
  cursor: pointer;
  margin: 6px;
  padding: 0;
  z-index: 2;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.other-pets-card-container {
  padding: 20px;
}
