.large-input {
  font-size: 1.2rem;
  // font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #AFAEAE;
  border-radius: 15px;
  background-color: $beije-light;
  height: 150px;
}

.small-input {
  font-size: 1.2rem;
  // font-weight: bold;
  padding: 15px;
  border: 2px solid #AFAEAE;
  border-radius: 15px;
  background-color: $beije-light;
  // margin-right: 15px;
  // height: 150px;
}
