.large-input {
  box-sizing: border-box;
  width: 100%;
  // max-width: 600px;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #AFAEAE;
  border-radius: 15px;
  background-color: $beije-light;
  height: 150px;
  margin-left: auto;
}

.small-input {
  font-size: 1.2rem;
  // font-weight: bold;
  padding: 15px;
  border: 2px solid #AFAEAE;
  border-radius: 15px;
  background-color: $beije-light;
  // margin-right: 15px;
  // height: 150px;
}

// .form-inputs {
//   border: 2px solid #ff0000;
// }
