// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "buttons";
@import "map";
@import "forms";
@import "modal";
@import "carousel";
@import "tooltips";
@import "slider";
@import "star_ratings";
@import "links";
@import "flash";

//#user-greeting {
//  margin-left: 40px;
//  margin-top: 0px;
//  padding-top: 30px
//}

#location-shelter {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 60px;
}

#your-animals {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 40px;
}
.decoration-none {
    text-decoration: none;
}

.container {

}

#user-role {
  color: $green;
}

#your-favourites {
  margin-bottom: 0px;
  margin-top: 50px;
  margin-left: 10px;
}

.large-emoji {
  font-size: 2rem;
}

.user-animals-header {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
