// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "buttons";
@import "map";
@import "form_inputs";
@import "modal";

#user-greeting {
  margin-left: 60px;
  margin-top: 0px;
  padding-top: 30px
}

#location-shelter {
  margin-left: 0px;
  margin-bottom: 30px;
}

#your-animals {
  margin-bottom: 30px;
}

.container-user-profile {
  background-color: white;
}

.container {

}

.user-animals {
  margin-left: 60px
}
