.modal {
  position: fixed !important;
  // z-index: 99999 !important; /* Much higher z-index */
  // display: block !important;
}

.modal-backdrop {
  position: fixed !important;
  // z-index: 99998 !important; /* Just below modal */
}

.modal-content {
  position: relative !important;
  // z-index: 100000 !important;
  margin: 0 auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  padding: 5px !important;
  pointer-events: auto !important;
  background-color: $beije-main !important;
  border-radius: 15px !important;
}

.modal-body {
  // padding: 0px !important;
  // height: 100% !important;
  // width: 1000px !important;
}

.modal-dialog {
  max-width: 1300px;
  // width: 100% !important;
}

.modal-header {
  border-bottom: none !important;
}
.modal-header-retry {
  border-bottom: none !important;
  padding: 15px
}

.modal-footer {
  border-top: none !important;
}

.modal-subheader {
  padding: 15px !important;
}

// .show-modal {
//   display: block !important;
//   opacity: 1 !important;
// }

.pet-three-row {
  margin: 25px;
}

.modal-retry {
  max-width: fit-content !important;
  width: auto !important;
  margin: auto !important;
}

.square-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  // transition: transform 0.5s ease;

  // &:hover {
  //   cursor: pointer;
  //   transform: scale(1.05);
  //   box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  // }
}

.other-matches-btn-div {
  margin-bottom: 25px;
}

.modal-button {
  margin: 15px;
}

.pet-card-container {
  padding: 40px;
}

.pet-image-modal {
  // padding: 10px;
  width: 100%;
  background-color: $beije-light;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  }
}

.pet-card-modal-button {
  padding: 15px;
}


// end of search modal
