.modal {
  position: fixed !important; /* Ensure the modal is in the correct stacking context */
  z-index: 1060 !important; /* Ensure the modal is above the navbar */
  pointer-events: auto !important;
}

.modal-backdrop {
  position: fixed !important; /* Ensure it covers the entire viewport */
  z-index: 1055 !important; /* Ensure the backdrop is above the navbar */
}

.modal-content {
  position: relative !important; /* Ensure the modal content is positioned within the stacking context */
  // z-index: 1060 !important; /* Ensure the modal content is above the backdrop */


  margin: 0 auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  padding: 5px !important;
  // pointer-events: auto !important;
  // margin: 0px ;
  background-color: $beije-main !important;
  border-radius: 15px !important;
}

.modal-body {
  padding: 0px !important;
  // height: 100% !important;
  // width: 1000px !important;
}

.modal-dialog {
  max-width: 1100px !important; /* Override Bootstrap’s max-width */
  width: 100% !important; /* Ensure it respects the max-width */

}

.modal-header {
  border-bottom: none !important; /* Remove the horizontal line below the title */
}

.modal-footer {
  border-top: none !important; /* Remove the horizontal line above the footer */
}
